body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: var(--text-color);
  }
.container-fluid{
    max-width: 1250px;
    margin: auto;
    width: 100%;
}

.the_team {
   position: relative;
   left: 270px;
    height: 900px;
    width: 800px;
    object-fit: cover;
}

footer {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 10px;
  left: 900px;
}