@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500; 600;700&display=swap");
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem ;
}
:root {
    --text-color:    #fcfeff;
    }
    img{
        width: 100%;
    }
body{
    background-color: rgba(20,20,20,255);
}

p{
    color:#ffffff;
}

/* heading for responsive start*/
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--container-color);
    padding: 8px 4px;
    border: 1px solid hsl(200 100% 99% / 5%);
    margin-bottom: 1rem;
}
.heading-title {
    font-size: 1.2rem;
    font-weight: 500;
}
/* heading for responsive end*/


/* company box */
.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.COM-box{
    position: relative;
    width: 80rem;
    height: 30rem;
    overflow: hidden;
    }

.com-box-img{
    width: 19rem;
    height: 18rem;
    position:absolute;
    left: 10%;
    top: 20%;
    border: 3px solid #0c0202;
}
.title-text {
    font-size: 1.1rem;
    font-weight: 500;
}

.title-text .com-title {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 14px;
    background: linear-gradient(
        8deg,
        hsl(240 17% 14% / 74%) 14%,
        hsl(240 17% 14% / 14%) 44%
        );
        overflow: hidden;
}

/*INFO AND LINKS CONTENT */
.info1{
    position: absolute;
    top: 5%;
    left: 35%;
    color:#0c0202;
    font-size: 20px;
    font-weight: bold;
}
.links1{
    position:absolute;
    top: 75%;
    left: 35%;
    color:#0c0202;
    font-size: 20px;
    font-weight: bold;
}
.info2{
    position: absolute;
    bottom: 50%;
    left: 35%;
    color:#0c0202;
    font-size: 20px;
    font-weight: bold;
}
.links2{
    position:absolute;
    top: 60%;
    left: 35%;
    color:#0c0202;
    font-size: 20px;
    font-weight: bold;
}
.info3{
    position: absolute;
    bottom: 40%;
    left: 34.5%;
    color:#0c0202;
    font-size: 20px;
    font-weight: bold;
}
.links3{
    position:absolute;
    top: 70%;
    left: 35%;
    color:#0c0202;
    font-size: 20px;
    font-weight: bold;
}
/* company box end */

/*button*/
.swiper-button-next,
.swiper-button-previous {
    position: static !important; 
    margin: 0 0 0 10px !important;
}
.swiper-button-next::after,
.swiper-button-previous::after {
    color: var(--text-color);
    font-size: 18px !important;
    font-weight: 700;
}
/*button*/



/* end */
.copyright {
    text-align: center;
    padding: 20px;
    color: #fcfeff;
}
