/* know thy format */
/* gawa ka flexbox */


.First GenZ {
    margin: auto;
    padding: 10px;
    width: auto;
    height: auto;
}

.SES_gen {
    margin: auto;
    padding: 10px;
    height: 25vh;
    position: relative;
    top: 10px;
    left: 20px;
    justify-content:right; 
}