.p-0 {
    padding: 0!important;
}
.m-0 {
    margin: 0!important;
}.container-fluid{
    position: relative;
    margin-top: 6rem !important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    gap: 5px;
    justify-content: center;
    position: relative;
}
.ms-2 {
    margin-left: 1rem!important;
}
.me-2 {
    margin-right: 1rem!important;
}
.p-2 {
    padding: 0.5rem!important;
}
.card{
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;word-wrap:break-word;
    background-color: rgb(51, 50, 50);
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem}.card>hr{margin-right:0;margin-left:0
    }
.card-title{
    color: white;
    margin-bottom:.5rem}
.m-3 {
    margin: 1rem!important;
}

@media (min-width:576px){
    .col-sm-12{
        flex:0 0 auto;
        width:100%}
}
@media (min-width:768px){
    .col-md-4{
        flex:0 0 auto;
    width: 33.3333333%;}
}
@media (min-width:992px){
    .col-lg-3{flex:0 0 auto;
        width:24%}
}


.h4, h4 {
    font-size: calc(1.275rem + .3vw);
    color: var(--text-color);
}
.h5, h5 {
    font-size: 1.25rem;
}
.h6, h6 {
    font-size: 1rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.text-primary {
    --bs-text-opacity: 1;
    color: rgb(243, 201, 201)!important;
}
.text-muted {
    --bs-text-opacity: 1;
    color: #ffffff!important;
}


p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.btn-dark {
    color: #fff;
    background-color: rgb(177, 26, 26);
    border-color: #212529;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(177, 26, 26);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--container-color);
    padding: 8px 14px;
    border: 1px solid hsl(200 100% 99% / 5%);
    margin-bottom: 2rem;
}
.heading-title {
    font-size: 1.2rem;
    font-weight: 500;
}