@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500; 600;700&display=swap");
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem ;
}
:root {
    --text-color:   #fcfeff;
    }
/*flex box of link */
.link-container{
    position: relative;
    width: 59.5rem;
    height: 25.3rem;
    background: #130404;
    display: flex;
    justify-content: center;
    align-items: center;
    left:10%;
    margin-bottom: 30px;
    border: 10px solid #2d2e37 ;
    border-radius: 10px;
}
/*flex box of link */

h3{
    color: black;
    font-size: 3.9rem;
    max-width: fit-content;
}
.link-image{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
/* play button */
.play-btn1{ 
    display:flex;
    background: #f60;
    color: #fff;
    font-size: 50px;
    width: 120px;
    height: 120px;
    position: absolute;
    left:80%;
    top: 30%;
    z-index:2;
    justify-content: center;
    align-items: center;
    border-radius: 100px 100px;
}
.play-btn1::before{
    content: '';
    position: absolute;
    border: 10px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom1 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
}
.play-btn1::after{
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 100%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom2 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
    animation-delay: .4s;
}
@keyframes bloom1{
    0%{
        transform:scale(.5);
    }
    50% {
        opacity: 1;
    }
    100%{
        transform: scale(1.5);
    }
        
}
@keyframes bloom2{
    0%{
        transform:scale(.5);
    }
    50% {
        opacity: 1;
    }
    100%{
        transform: scale(1.5);
    }
        
}
.play-btn2{ 
    display:flex;
    background: #f60;
    color: #fff;
    font-size: 50px;
    width: 120px;
    height: 120px;
    position: absolute;
    left:80%;
    top: 75%;
    z-index:2;
    justify-content: center;
    align-items: center;
    border-radius: 100px 100px;
}
.play-btn2::before{
    content: '';
    position: absolute;
    border: 10px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom1 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
}
.play-btn2::after{
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 100%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom2 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
    animation-delay: .4s;
}
.play-btn3{ 
    display:flex;
    background: #f60;
    color: #fff;
    font-size: 50px;
    width: 120px;
    height: 120px;
    position: absolute;
    left:80%;
    top: 125%;
    z-index:2;
    justify-content: center;
    align-items: center;
    border-radius: 100px 100px;
}
.play-btn3::before{
    content: '';
    position: absolute;
    border: 10px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom1 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
}
.play-btn3::after{
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 100%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom2 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
    animation-delay: .4s;
}
.play-btn4{ 
    display:flex;
    background: #f60;
    color: #fff;
    font-size: 50px;
    width: 120px;
    height: 120px;
    position: absolute;
    left:80%;
    top: 165%;
    z-index:2;
    justify-content: center;
    align-items: center;
    border-radius: 100px 100px;
}
.play-btn4::before{
    content: '';
    position: absolute;
    border: 10px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom1 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
}
.play-btn4::after{
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 100%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom2 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
    animation-delay: .4s;
}
.play-btn5{ 
    display:flex;
    background: #f60;
    color: #fff;
    font-size: 50px;
    width: 120px;
    height: 120px;
    position: absolute;
    left:80%;
    top: 210%;
    z-index:2;
    justify-content: center;
    align-items: center;
    border-radius: 100px 100px;
}
.play-btn5::before{
    content: '';
    position: absolute;
    border: 10px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom1 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
}
.play-btn5::after{
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 100%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom2 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
    animation-delay: .4s;
}
.play-btn6{ 
    display:flex;
    background: #f60;
    color: #fff;
    font-size: 50px;
    width: 120px;
    height: 120px;
    position: absolute;
    left:80%;
    top: 255%;
    z-index:2;
    justify-content: center;
    align-items: center;
    border-radius: 100px 100px;
}
.play-btn6::before{
    content: '';
    position: absolute;
    border: 10px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom1 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
}
.play-btn6::after{
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 100%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom2 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
    animation-delay: .4s;
}

.play-btn7{ 
    display:flex;
    background: #f60;
    color: #fff;
    font-size: 50px;
    width: 120px;
    height: 120px;
    position: absolute;
    left:80%;
    top: 300%;
    z-index:2;
    justify-content: center;
    align-items: center;
    border-radius: 100px 100px;
}
.play-btn7::before{
    content: '';
    position: absolute;
    border: 10px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom1 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
}
.play-btn7::after{
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 100%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom2 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
    animation-delay: .4s;
}
.play-btn8{ 
    display:flex;
    background: #f60;
    color: #fff;
    font-size: 50px;
    width: 120px;
    height: 120px;
    position: absolute;
    left:80%;
    top: 345%;
    z-index:2;
    justify-content: center;
    align-items: center;
    border-radius: 100px 100px;
}
.play-btn8::before{
    content: '';
    position: absolute;
    border: 10px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom1 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
}
.play-btn8::after{
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 100%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom2 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
    animation-delay: .4s;
}
.play-btn9{ 
    display:flex;
    background: #f60;
    color: #fff;
    font-size: 50px;
    width: 120px;
    height: 120px;
    position: absolute;
    left:80%;
    top: 390%;
    z-index:2;
    justify-content: center;
    align-items: center;
    border-radius: 100px 100px;
}
.play-btn9::before{
    content: '';
    position: absolute;
    border: 10px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom1 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
}
.play-btn9::after{
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 100%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom2 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
    animation-delay: .4s;
}
.play-btn10{ 
    display:flex;
    background: #f60;
    color: #fff;
    font-size: 50px;
    width: 120px;
    height: 120px;
    position: absolute;
    left:80%;
    top: 435%;
    z-index:2;
    justify-content: center;
    align-items: center;
    border-radius: 100px 100px;
}
.play-btn10::before{
    content: '';
    position: absolute;
    border: 10px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom1 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
}
.play-btn10::after{
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 100%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom2 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
    animation-delay: .4s;
}
.play-btn11{ 
    display:flex;
    background: #f60;
    color: #fff;
    font-size: 50px;
    width: 120px;
    height: 120px;
    position: absolute;
    left:80%;
    top: 480%;
    z-index:2;
    justify-content: center;
    align-items: center;
    border-radius: 100px 100px;
}
.play-btn11::before{
    content: '';
    position: absolute;
    border: 10px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom1 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
}
.play-btn11::after{
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 100%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom2 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
    animation-delay: .4s;
}
.play-btn12{ 
    display:flex;
    background: #f60;
    color: #fff;
    font-size: 50px;
    width: 120px;
    height: 120px;
    position: absolute;
    left:80%;
    top: 520%;
    z-index:2;
    justify-content: center;
    align-items: center;
    border-radius: 100px 100px;
}
.play-btn12::before{
    content: '';
    position: absolute;
    border: 10px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom1 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
}
.play-btn12::after{
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 100%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom2 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
    animation-delay: .4s;
}
.play-btn13{ 
    display:flex;
    background: #f60;
    color: #fff;
    font-size: 50px;
    width: 120px;
height: 120px;
    position: absolute;
    left:80%;
    top: 565%;
    z-index:2;
    justify-content: center;
    align-items: center;
    border-radius: 100px 100px;
}
.play-btn13::before{
    content: '';
    position: absolute;
    border: 10px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom1 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
}
.play-btn13::after{
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 100%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom2 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
    animation-delay: .4s;
}
/* play button */
